</body>
  <footer>
    <div style="background-color:cornflowerblue" >
      <h1>
      footer de {{ user }} anio {{ getAnio }} 
      <a href="/about">About</a>
      <a href="/">Home</a>
      </h1>
    </div>
  </footer>
</html>