<!DOCTYPE HTML>
<html>
<head>
    <title>Enersa</title>
</head>
<body style="font-family: 'Open Sans', sans-serif; font-size: 13px;">
    <table width="618" border="0" align="center" align="left" border=1px cellpadding=0 cellspacing=0 bordercolor=black style="font-size: normal; height: 63px;background-color:#1068B0;">
        <tr>
            <th scope="col" style="border: none; padding: 18px;"><h1 style="margin: 0;padding: 0;"><img style="display: block; width: 22%;" src="https://dev-enersa-mobileapp.azurewebsites.net/static/new-logo.jpg" alt="Logo Enersa"></h1></th>
        </tr>
        </thead>
    </table>
    <table style="height: 5px;">

    </table>
    <table width="617" border="0" align="center" align="left" style="border: 2px solid  #7498BB;">
        <tbody>
            <tbody>
                <tr>
                    <td style="font-family: 'Open Sans', sans-serif; text-align:left; font-size:15px;" width="617"><p style="font-weight: bold; margin-left: 25px;">Estimados usuario</p>
                    <p style="color: #9b9b9d;margin-left: 25px;">Recibimos su solicitud de suscripción al servicio de <span style="font-weight: bold; color: black;">factura por e-mail</span></p>
                </tr>
            </tbody>
        </tbody>
        <tbody>
            <tr>
                <td style="font-family: 'Open Sans', sans-serif; text-align:left; font-size:15px;" width="617">
                    <h2 style="color:#1068B0; width: 470px;text-align: center;margin-left: 60px;">Complete el trámite de suscripción haciendo <a href="www.google.com" style="color:#1068B0;font-weight: bold;">click aquí</a> y comience a recibir su</h2>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr align="center">
                <th scope="col" style="border: none; padding: 10px;"><h1 style="margin: 0;padding: 0;"><img style="display: block; width: 60%;" src="https://dev-enersa-mobileapp.azurewebsites.net/static/factura_mail.jpg" alt="Logo Enersa"></h1></th>
            </tr>
        </tbody>
        <tbody>
            <tr style="background-color: #EDE8E7">
                <td style="font-family: 'Open Sans', sans-serif; text-align:left; font-size:15px;">
                    <div>
                        <img style="display: block;width: 25px;float: left;margin-left: 30px;" src="https://dev-enersa-mobileapp.azurewebsites.net/static/warning.png" alt="Importante">
                        <p style="text-align: left;font-size: 12px;width: 495px;margin: 0;margin-left: 65px; margin-top: 20px;">
                            <span style="font-weight: bold;">Este correo es informativo;</span>
                            favor de no responder a esta dirección ya que no se encuentra habilitada para recibir mensajes. Para todo tipo de consultas, cominiquese a:
                        </p>
                    </div>
                    <img style="display: block; width: 200px;margin-left: 200px; margin-top: 10px;margin-bottom: 5px;" src="https://dev-enersa-mobileapp.azurewebsites.net/static/sati.jpg" alt="Logo Sati">
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr style="background-color: #1068B0">
                <td>
                    <h4 style="float: left; color: white; margin: 0;margin-top: 15px;margin-left: 35px;">Buscanos en las redes</h4>
                    <span style="float: left; z-index: 1; margin-left: 60px;">
                        <div style="float: left; margin-top: 10px;margin-right: 3px;">
                            <a href="https://es-la.facebook.com/EnersaArg/" target="_blank"><img style="width: 25px;" src="https://dev-enersa-mobileapp.azurewebsites.net/static/facebook.png" alt="Enersa Facebook"></a>
                        </div>
                        <div style="float: left;margin-top: 7px;">
                            <a href="https://twitter.com/enersaarg" target="_blank"><img style="width: 31px;" src="https://dev-enersa-mobileapp.azurewebsites.net/static/twitter.png" alt="Enersa Twitter"></a>
                        </div>
                        <div style="float: left;margin-top: 8px;margin-left: 2px;">
                            <a href="https://www.youtube.com/channel/UCqBL6efOQotInScmU2bKCvA" target="_blank"><img style="width: 28px;" src="https://dev-enersa-mobileapp.azurewebsites.net/static/youtube.png" alt="Enersa YouTube"></a>
                        </div>
                    </span>
                    <span>
                        <div style="float: left;margin-left: 80px;margin-top: 15px;">
                            <a target="_blank" href="http://www.enersa.com.ar" style="color: white; text-decoration: none;letter-spacing: 2px;">
                                <h4 style="margin: 0; font-size: 14px;font-family: 'Open Sans', sans-serif;">www.enersa.com.ar</h4>
                            </a>
                        </div>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>