<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <!-- Codificación utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Page Title</title>
</head>
<body>
<body>
    <table>
        <table width="618" border="0" align="center" align="left" border=1px cellpadding=0 cellspacing=0 bordercolor=black style="font-size: normal; height: 63px;background: linear-gradient(to right, #127FC2 0%, #1068B0 20%);">        
             <tbody>
                <tr style="background-color: #1068B0">
                    <td scope="col" style="border: none; padding: 18px;">
                        <img alt="logo-enersa" src="https://dev-enersa-mobileapp.azurewebsites.net/static/logo_enersa.jpg">
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="height: 5px;">

        </table>
    <table width="617" border="0" align="center" align="left" style="border: 2px solid  #7498BB;">
        <tbody>
            <tbody>
                <tr>
                    <td style="font-family: 'Open Sans', sans-serif; text-align:left; font-size:15px;" width="617"><p style="font-family: 'Open Sans', sans-serif;font-weight: bold; margin-left: 25px;">Estimados usuario</p>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align: center; font-family: 'Open Sans', sans-serif;">
                        <p style="color: #9b9b9d;margin-left: 25px;">Recibimos su solicitud de suscripción al servicio de <span style="font-family: 'Open Sans', sans-serif;font-weight: bold; color: black;">factura por e-mail</span></p>
                    </td>
                </tr>
            </tbody>
        </tbody>
        <tbody>
            <tr>
                <td style="font-family: 'Open Sans', sans-serif; text-align:left; font-size:15px;" width="617">
                    <h2 style="color:#1068B0; width: 470px;text-align: center;margin-left: 60px; font-size: 20px;">Complete el trámite de suscripción haciendo <a href="http://devenersa.azurewebsites.net/Confirmaciones/Pagina_Confirmar_Suscripcion.html?id=&lt;var_id_operacion&gt;&email=&lt;var_email&gt;" style="color:#1068B0;font-weight: bold;">click aquí</a> y comience a recibir su</h2>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr align="center">
                <th scope="col" style="border: none; padding: 10px;"><h1 style="margin: 0;padding: 0;"><img style="display: block;" src="https://dev-enersa-mobileapp.azurewebsites.net/static/factura_mail.jpg" alt="Logo Enersa"></h1></th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>
                    <p>&nbsp;</p>
                </td>                
            </tr>
            <tr style="background-color: #EDE8E7;">                
                <td>    
                    <table>
                        <tbody>
                            <tr>
                                <td style="font-family: 'Open Sans', sans-serif; text-align:left; font-size:15px;">
                                    <p style="margin-left: 25px;">
                                        <img alt="info" src="https://dev-enersa-mobileapp.azurewebsites.net/static/warning.png" />  
                                    </p> 
                                </td>
                                <td style="font-family: 'Open Sans', sans-serif; text-align:left; font-size:15px;">
                                     <p style="margin: 15px 10px 0px 10px;text-align: center; font-size: 12px;">
                                            <span style="font-weight: bold;">

                                                Este correo es informativo;
                                            </span>
                                            favor de no responder a esta dirección ya que no se encuentra habilitada para recibir mensajes. Para todo tipo de consultas, comuníquese a:  
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin: 0px 0px 10px 0px;text-align:center;">
                        <img style="margin-top: 5px;" alt="sati" src="https://dev-enersa-mobileapp.azurewebsites.net/static/sati.jpg" />
                    </p>                    
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr style="background-color: #1068B0;">
                <td>
                    <table style="height: 63px;">
                        <tr style="text-align: center;">
                            <td>
                                <p style="margin:15px 0px 15px 20px;font-family: 'Open Sans', sans-serif;font-weight: bold; color: white;">
                                   Buscanos en las redes 
                                </p>
                            </td>
                            <td>
                                <p style="margin: 15px 0px 15px 5px;">
                                    <a href="https://es-la.facebook.com/EnersaArg/" target="_blank" style="text-decoration: none;">
                                        <img alt="facebook" src="https://dev-enersa-mobileapp.azurewebsites.net/static/facebook.png">
                                    </a>
                                </p>
                            </td>
                            <td>
                                <p style="margin: 15px 0px 15px 5px;">
                                    <a href="https://twitter.com/enersaarg" target="_blank" style="text-decoration: none;">
                                        <img alt="twitter" src="https://dev-enersa-mobileapp.azurewebsites.net/static/twitter.png">
                                    </a>
                                </p>
                            </td>
                            <td>
                                <p style="margin: 15px 0px 15px 5px;">
                                    <a href="https://www.youtube.com/channel/UCqBL6efOQotInScmU2bKCvA" target="_blank" style="text-decoration: none;">
                                        <img alt="youtube" src="https://dev-enersa-mobileapp.azurewebsites.net/static/youtube.png">
                                    </a>
                                </p>
                            </td>
                            <td>
                                <p style="margin-left: 40px;"><img src="https://dev-enersa-mobileapp.azurewebsites.net/static/arrow.png" /></p>
                            </td>
                            <td>    
                                <p style="margin-left: 5px;">
                                    <a href="http://www.enersa.com.ar" style="color: white; letter-spacing: 2px;text-decoration: none;" target="_blank">
                                        <span style="font-family: 'Open Sans', sans-serif;font-weight: bold;">
                                            www.enersa.com.ar
                                        </span>
                                    </a>
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>  
    </table>
</table>
</body>
</html>
