<!DOCTYPE HTML>
<html>
<head>
    <title>Enersa</title>
</head>
<body style="font-family:sans-serif; font-size: 13px;">
    <table width="617"  border="0" align="center" border=1px cellpadding=0 cellspacing=0 bordercolor=black>
            <thead width="617" style="font-size: normal;background-color: #1068B0;">
                <tr>
                    <th align="left" scope="col" style="border: none; padding: 18px;">
                        <h1 style="margin: 0;padding: 0;">
                            <img style="display: block; width: 22%;" src="https://dev-enersa-mobileapp.azurewebsites.net/static/new-logo.jpg" alt="Logo Enersa">
                        </h1>
                    </th>
                </tr>
            </thead>
    </table>

    <table style="height: 5px;">

    </table>
    <table width="617"  border="0" align="center" border=1px cellpadding=0 cellspacing=0 bordercolor=black>
        <tbody width="617" style="display: block; border: 2px solid #1068B0;">
            <tr width="617">
                <td style="display: inline-block;font-family: sans-serif; font-size:15px; margin: auto; display: block;">
                    <p style="font-weight: bold; text-align: left;">Estimado usuario</p>
                    <p style="color: #9b9b9d; text-align: left;">Recibimos su solicitud de suscripción al servicio de <span style="font-weight: bold; color: black;">factura por e-mail</span></p>
                </td>
            </tr>
            <tr width="617">
                <td align="center" style="display: inline-block; font-family: sans-serif; font-size:15px;">
                    <h2 style="color:#1068B0;text-align: center;">Complete el trámite de suscripción haciendo <a href="" style="color:#1068B0;font-weight: bold;">click aquí</a> y comience a recibir su</h2>
                </td>
            </tr>
            <tr align="center" width="617">
                <td style="border: none; display: inline-block;">
                    <img style="display: block;" src="https://dev-enersa-mobileapp.azurewebsites.net/static/factura_mail.jpg" alt="Logo Enersa">
                </td>
            </tr>
            <tr align="center" style="background-color: #EDE8E7;" width="617">
                <td style="display: inline-block;">
                    <img style="display: block;width: 25px; height: 25px;" src="https://dev-enersa-mobileapp.azurewebsites.net/static/warning.png" alt="Importante">
                    <p style="text-align: center;font-size: 12px;margin: 0;">
                        <span style="font-weight: bold;">Este correo es informativo;</span>
                        favor de no responder a esta dirección ya que no se encuentra habilitada para recibir mensajes. Para todo tipo de consultas, cominiquese a:
                    </p>
                </td>
            </tr>
            <tr align="center" style="background-color: #EDE8E7;" width="617">
                <td>
                    <img style="display: block;" src="https://dev-enersa-mobileapp.azurewebsites.net/static/sati.jpg" alt="Logo Sati">
                </td>
            </tr>
        </tbody>
    </table>
    <table width="617"  border="0" align="center" border=1px cellpadding=0 cellspacing=0 bordercolor=black>
        <tbody>
            <tr align="center" style="background-color: #1068B0">
                <td>
                        <h4 style="color: white;margin: 0;padding: 0;">Buscanos en las redes</h4>
                    </td>
    
                    <td style="display: inline-block;">
                        <a href="https://es-la.facebook.com/EnersaArg/" target="_blank">
                            <img src="https://dev-enersa-mobileapp.azurewebsites.net/static/facebook.png" alt="Enersa Facebook">
                        </a>
                    </td>
                    <td style="display: inline-block;">
                        <a href="https://twitter.com/enersaarg" target="_blank"><img src="https://dev-enersa-mobileapp.azurewebsites.net/static/twitter.png" alt="Enersa Twitter"></a>
                    </td>
                    <td style="display: inline-block;">
                        <a href="https://www.youtube.com/channel/UCqBL6efOQotInScmU2bKCvA" target="_blank">
                            <img src="https://dev-enersa-mobileapp.azurewebsites.net/static/youtube.png" alt="Enersa YouTube">
                        </a>
                    </td>
                    <td>
                        <a target="_blank" href="http://www.enersa.com.ar" style="color: white; text-decoration: none;letter-spacing: 2px;">
                            <h4 style="margin: 0; font-size: 14px;font-family: sans-serif;">www.enersa.com.ar</h4>
                        </a>
                    </td>
            </tr>
        </tbody>
    </table>
</body>
</html>